 body {
      font-family: monospace;
      background-color: #e0ffe0a6;
      padding: 20px;
}
 a {
    display: inline-block; /*making the link a block element*/
    color: rgb(65, 34, 22); /*brown text color*/
    text-decoration: none; /*removing the underline*/
    padding: 5px 10px; /*adding some space inside the link*/
    border: 3px solid rgb(65, 34, 22); /*added a pink color*/
    transition: all 0.3s ease; /*adding a transition*/
    }
   #id1 {
    color: palevioletred;
    border: none;
   }
   #id2 {
    font-size: 1.2em;
   }
   ul {
    list-style-type: square;
    color: rgba(33, 71, 71, 0.745);
   }
   h2 {
    color: rgb(35, 67, 35);
    font-family: monospace;
    font-size: 2em;
    margin-bottom: 30px;
    }
    h3 {
        color: rgb(35, 67, 35);
    }
    #table1 thead {
    background-color: rgba(62, 63, 115, 0.815);
    color: rgb(247, 241, 241);
}
th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: right;
    &.left{
            text-align: left;
    }
}
#table1 {
    border: 1px solid black;
    border-collapse: collapse;
}
#table2 {
    border: 1px solid black;
    border-collapse: collapse;
}
#table2 thead {
    background-color: rgb(215, 228, 97);
}
#table2, #table1 tbody {
    background-color: white;
}
.border-link {
    border: none;
    text-decoration: underline;
}
#table3 thead {
    background-color: rgb(211, 230, 246);
}
#table3 {
    border: 1px solid black;
    border-collapse: collapse;
}
#table3 tbody {
    background-color: white;
}